/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET "a" (LINK) */
a {
  text-decoration: none;
}

/* RESET LISTA */
ul {
  list-style: none;
  gap: 20px;
}

/* SETTAGGIO HEADER */
header {
  background-color: white;
}

.container-header {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  padding: 10px 0;
}

.navbar {
  width: calc(100% - 50px);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

li {
  font-size: 10px;
}

/*  SETTAGGIO MAIN  */
main {
  background-color: black;
}

.container-main {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
}

/* SETTAGGIO FOOTER */

footer {
  background-image: url(./assets/imgs/footer-bg.jpg);
}

.container-footer {
  width: 1000px;
  margin: 0 auto;

}

/* SECTION ONE FOOTER */

.content-link-img {
  display: flex;
}

.link-footer {
  display: flex;
}

.img-footer img {
  width: 300px;
  height: auto;
}

/* SECTION TWO FOOTER */

.content-sign-follow {
  display: flex;
}

.follow-us {
  display: flex;
}