/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* RESET "a" (LINK) */
a {
  text-decoration: none;
}

/* RESET LISTA */
ul {
  list-style: none;
  gap: 20px;
}

/* SETTAGGIO HEADER */
header {
  background-color: white;
}

.container-header {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
  padding: 10px 0;
}

.navbar {
  width: calc(100% - 50px);
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
}

li {
  font-size: 10px;
}

/*  SETTAGGIO MAIN  */
main {
  background-color: black;
}

.container-main {
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
}

/* SETTAGGIO FOOTER */

/* SETTAGGIO FASCIA AZZURRA */

.item {
  background-color: blue;
}

.fascia-azz {
  background-color: blue;
}

.wrap-content ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* settaggio item fascia blu */

.item-one::before {
  content: url(./assets/imgs/buy-comics-digital-comics.png);
}

.item-two::before {
  content: url(./assets/imgs/buy-comics-merchandise.png);
}

.item-three::before {
  content: url(./assets/imgs/buy-comics-subscriptions.png);
}

.item-four::before {
  content: url(./assets/imgs/buy-comics-shop-locator.png);
}

.item-five::before {
  content: url(./assets/imgs/buy-dc-power-visa.svg);
}

/* SECTION ONE FOOTER */

.content-link-img {
  background-image: url(./assets/imgs/footer-bg.jpg);
}

.wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.link-footer {
  display: flex;
  color: white;
  gap: 30px;
  line-height: 20px;
}

.link-footer a {
  color: grey;
}

.img-footer img {
  width: 400px;
  height: auto;
}

/* SECTION TWO FOOTER */

.content-sign-follow {
  display: flex;
  justify-content: space-between;
  background-color: #2f2f2f;

}

.follow-us {
  display: flex;
}

.sign-up .btn {
  padding: 10px 15px;
  border: 3px solid blue;
  margin: 20px 0;
  background-color: #2f2f2f;
}

.sign-up .btn a {
  color: white;
}


.follow-us h3 {
  font-size: 20px;
  color: blue;
}

.follow-us img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}